{% extends "base_layout.html" %}

{% block content %}
<div class="p-4">
    <div class="d-flex justify-content-end align-items-center">
      <a class="btn btn-primary" href="/clients/pets/add/"><i class="fa-solid fa-plus mr-1"></i> Adicionar Pet</a>
    </div>
    <h3 class="mt-3 mb-3">Pets Cadastrados</h3>
  <table class="table table-responsive">
    <thead class="table-dark">
        <td class="fw-bold" scope="col" >#</td>
        <td class="fw-bold" scope="col">Nome</td>
        <td class="fw-bold" scope="col">Raça</td>
        <td class="fw-bold" scope="col">Nascimento</td>
        <td class="fw-bold" scope="col">Dono</td>
        <td class="fw-bold" scope="col">Ações</td>
    </thead>
    {% if pets %}
    <tbody>
        {% for pet in pets %}
        <tr>
            <td class="fw-bold" scope="row" >{{ forloop.counter }}</td>
            <td>{{ pet.name }}</td>
            <td>{{ pet.breed }}</td>
            <td>{{ pet.birth_date }}</td>
            <td>{{ pet.owner }}</td>
            <td class="d-flex justify-content-around align-items-center"><a class="btn btn-outline-dark" href="/clients/pets/edit/{{ pet.id }}/" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a><a class="btn btn-outline-danger" href="/clients/pets/delete/{{ pet.id }}/" title="Excluir"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tbody>
      <tr>
        <td class="text-center p-3" colspan="6">Não há pets cadastrados</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
</div>
{% endblock %}