{% extends "base_layout.html" %} {% load static %} {% block content %}

<div class="p-4">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <h1>Bem-vindos a PetClinic</h1>
    <img src="{% static 'assets/play-with-pet.png' %}" />
  </div>
  <h3 class="mt-3 mb-3">Que serviços nós fornecemos?</h3>
  <div class="container-fluid d-flex justify-content-evenly md-6 lg-6 sm-6">
    <div class="card" style="width: 28rem">
      <img
        src="{% static 'assets/fever.png' %}"
        class="card-img-top"
        alt="cachorro doente"
      />
      <div class="card-body">
        <h5 class="card-title">Atendimento com veterinário</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card" style="width: 28rem">
      <img
        src="{% static 'assets/medicine.png' %}"
        class="card-img-top"
        alt="remédios"
      />
      <div class="card-body">
        <h5 class="card-title">Venda de medicamentos</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
