{% extends "base_layout.html" %}

{% block content %}
<div class="p-4">
  <div class="d-flex justify-content-end align-items-center">
    <a class="btn btn-primary"   href="/clinic/veterinaries/add/"><i class="fa-solid fa-plus mr-1"></i> Adicionar Veterinário</a>
  </div>
  <table>
    <thead>
        <td>Nome</td>
        <td>E-mail</td>
        <td>Telefone</td>
        <td>Detalhes</td>
        <td>Editar</td>
        <td>Excluir</td>
    </thead>
    <tbody>
        {% for veterinary in veterinaries %}
        <tr>
            <td>{{ veterinary.name }}</td>
            <td>{{ veterinary.email }}</td>
            <td>{{ veterinary.phone }}</td>
            <td><a href="/clinic/veterinaries/{{ veterinary.id }}/">Detalhes</a></td>
            <td><a href="/clinic/veterinaries/edit/{{ veterinary.id }}/">Editar</a></td>
            <td><a href="/clinic/veterinaries/delete/{{ veterinary.id }}/">Excluir</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}