<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static '/styles.css' %}">

  <title>PetClinic</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/clients/">Clientes</a></li>
      <li><a href="/clients/pets/">Animais</a></li>
      <li><a href="/clinic/veterinaries/">Veterinários</a></li>
      <li><a href="/clinic/appointments/">Consultas</a></li>
      <li><a href="/clinic/drugs/">Medicamentos</a></li>
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>